<% if get_recently_viewed_products.any? %>
  <div id="recently_viewed" data-hook>
    <h3><%= Spree.t(:recently_viewed_products) %></h3>
    <div id="recently_viewed_frame">
        <ul id="recently_viewed_products" class="slidee">
          <% get_recently_viewed_products.each do |p| %>
            <li>
              <%= link_to small_image(p) + p.name, p %>
            </li>
          <% end -%>
        </ul>
    </div>
    <ul class="pages"></ul>
    <div class="scrollbar">
      <div class="handle">
        <div class="mousearea"></div>
      </div>
    </div>
  </div>
<% end %>
